* {
  margin: 0;
  padding: 0;
}
body {
  background: #cdcdcd;
}
.header {
  line-height: 60px;
  background: #333;

}

.header_content {
  width: 600px;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}

.header_input {
  width: 360px;
  margin-top: 15px;
  float: right;
  line-height: 24px;
  border-radius: 5px;
  padding: 0 10px;
}

.undo-list {
  margin: 0 auto;
  width: 600px;
}
.undo-list-title {
  line-height: 40px;
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}
.undo-list-count {
  float: right; 
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  background: #e6e6e6;
  border-radius: 50%;
}
.undo-list-content {
  list-style-type: none;
}
.undo-list-item {
  line-height: 34px;
  font-size: 14px;
  margin-bottom: 10px;
  background: #fff;
  border-left: 3px solid #629a9c;
  text-indent: 10px;
  border-radius: 3px;
}
.undo-list-delete {
  float: right;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-indent: 0;
  background: #e6e6e6;
  border-radius: 50px;
  margin: 6px 6px 0 0;
}